/*donate section.*/
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.donate{
    background-image: url(images/donation7.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 740px;
    margin: 0;
    display: flex;
}
.donate-text-and-link{
    text-align: center;
    margin: 1px 307px 175px;
}
.donate-text-area-title{
    margin: 174px 307px 5px;
}
.donate-text-area-title h1{
    font-weight: 700;
    font-size: 65px;
    color: white;
    text-shadow: 0 0 7px black;
}
.donate-text-area-description{
    margin: 1px 374px 8px 375px;
}
.donate-text-area-description p{
    font-weight: 400;
    font-size: 18px;
    color: white;
    text-shadow: 0 0 7px black;
}
.donate-now{
    padding: 14px 10px;
    background-color: #FF5959;
    width: 160px;
    margin-left: 540px;
    margin-top: 30px;
    border-radius: 5px;
}
.donate-now a{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: white;
}
