/*donate section.*/
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
#donate{
    background-image: url(images/donation7.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 740px;
    display: flex;
}
.donate-text-and-link{
    text-align: center;
    margin: 1px 307px 175px;
}
.donate-title{
    margin: 174px 307px 5px;
}
.donate-title h1{
    font-weight: 700;
    font-size: 55px;
    color: white;
    text-shadow: 0 0 7px black;
}
.donate-description{
    margin: 1px 374px 8px 375px;
}
.donate-description p{
    font-weight: 400;
    font-size: 14px;
    color: white;
    text-shadow: 0 0 7px black;
}
.donate-now{
    padding: 14px 10px;
    background-color: #FF5959;
    width: 160px;
    margin-left: 555px;
    margin-top: 30px;
    border-radius: 5px;
}
.donate-now a{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

/*donation section*/
#donation {
    text-align: center;
    display: inline;
}
.donation-title {
    margin: 130px 568px 10px;
}
.donation-title h1{
    font-weight: 700px;
    font-size: 38px;
    color: #121212;
}
.donation-description{
    margin: 10px 374px 25px 375px;
}
.donation-description p{
    font-weight: 400;
    font-size: 15px;
    color: #707070;
}
.donation-display-amount{
    margin: 25px 540px 30px 555px;
    width: 25%;
    display: flex;
}
.donation-amounts{
    margin-right: 25px;
    width: 136px;
    height: 123px;
    background-color: #FAFAFA;
    text-align: center;
    border-radius: 5px;
}
.donation-amounts h3{
    font-weight: 700;
    font-size: 30px;
    height: 36px;
    width: 86px;
    margin: 43px 25px 44px 25px;
    color: #707070;
}
.amount-5000tk h3{
    margin: 43px 35px 44px 18px;
}
.amount-200tk{
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
}   
.custom-amount{
    margin: 15px 566px 5px 555px;
    text-align: center;
}
.writen-amount{
    border: none;
    border-bottom: 1px solid #DADADA;
    text-align: center;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    height: 40px;
}
.donation-donate{
    margin: 1px 307px 100px;
}

/*donate plan section */
#donation-plan{
    display: flex;
}
.donate-plan-text{
    text-align: center;
    margin: 30px 374px 50px 375px;
}
.donate-plan-text h2{
    font-weight: 700;
    font-size: 37px;
    color: #121212;
}
.donate-plan-text p{
    font-weight: 400;
    font-size: 15px;
    color: #707070;
}
.planning{
    margin: 25px 480px 100px 400px;
    display: flex;
}
.plans{
    width: 360px;
    height: 352px;
    margin-right: 24px;
    border-radius: 5px;
}
.foods{
    background-color: rgba(79, 157, 166, 0.1);
}
.shelters{
    background-color: rgba(255, 89, 89, 0.1);
}
.education{
    background-color: rgba(255, 244, 214, 1);
}
.icon{
    margin: 64px 279px 31px 23px;
}
.plans-text{
    margin: 31px 22px 54px 23px;
    text-align: left;
    width: 315px;
    height: 101px;
}
.plans-text h3{
    font-weight: 600;
    font-size: 20px;
    color:#121212 
}
.plans-text p{
    font-weight: 400px;
    font-size: 13px;
    color: #707070;
}

/*other websites section*/
#other-projects{
    display: flex;
}
.other-projects-content{
    margin: 100px 150px 151px 410px;
}
.donation-images{
    margin: 130px 370px 152px 30px;
}
.other-projects-content h1{
    font-weight: 700;
    font-size: 40px;
    color: rgba(18, 18, 18, 1);
}
.other-projects-content p{
    font-weight: 400;
    font-size: 15px;
    color: rgba(112, 112, 112, 1);
    margin-bottom: 50px;
}
.other-projects-content a{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: white;
    padding: 14px 10px;
    background-color: #FF5959;
    width: 50px;
    border-radius: 5px;
}

/*email-section*/
#email{
    text-align: center;
}
.email-text-content h1{
    font-size: 40px;
    font-weight: 700;
    color: #121212;
}
.email-text-content p{
    font-size: 15px;
    font-weight: 400;
    color: #707070;
}
.email-box-and-button{
    margin: 50px 500px 150px 500px;
    padding: 76px 188px 120px 188px;
    background-color: rgba(255, 244, 214, 1);
}
.email-box{
    margin-left: 100px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    background: rgb(215, 215, 215);
    font-family: 'Poppins', sans-serif;
    border-radius: 5px 0 0 5px;
}
.subscribe{
    float: left;
    padding: 10px;
    background: #FF5959;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    font-family: 'Poppins', sans-serif;
    border-radius: 0 5px 5px 0;
}
.subscribe a{
    text-decoration: none;
    color: white;
}

/*footer*/
footer{
    background-color: #0B0D17;
    height: 250px;
}
.footer-texts{
    padding: 43px 661px;
}
.footer-texts h2{
    text-align: center;
    color: #FF5959;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 35px;
}
.footer-texts p{
    text-align: center;
    color: #D9DBE1;
    font-weight: 400;
    font-size: 12px;
}